
DATABASE_URL=postgresql://postgres:PASSWORD@localhost:5432/postgres
# Description: Environment variables for establishing connection to Postgres database
POSTGRES = Postgres
POSTGRES_HOST = 127.0.0.1
POSTGRES_PORT = 5432
POSTGRES_USER = postgres
POSTGRES_PASSWORD = PASSWORD
# Postgres database names
POSTGRES_DB_NAME = postgres
SENTINEL_DB_NAME = sentinel_db
USER_DB_NAME = users_db
#influxdb
INFLUXDB_URL = http://localhost:8086
INFLUXDB_TOKEN = api_token
INFLUXDB_ORG = Service-Sentinel